Flask==1.0.2
Jinja2==2.10.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
matplotlib==3.0.3
numpy==1.16.3
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tornado==6.0.2
Werkzeug==0.15.2
gunicorn==19.9.0
flasgger==0.9.2